<!DOCTYPE html>
<html lang = "en">

<head>

    <!--Used to have the most amount characters so everyone can view it-->
    <meta charset = "UTF-8">

    <!--Tells the web to scale it to the device it is on and on a 1:1 scale so not zoomed in or out-->
    <meta name = "viewport" content = "width= device-width, initial-scale = 1.0">

    <title>Stock Scrubber Dashboard</title>

    <!--Used to download the Inter font to that it works-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!--Connects the file to the css file that has the styles-->
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class = "container-table">

        <!--Header for the dashboard page with there name-->
        <h1>Welcome, {{username}}</h1>

        <h3>Stock Watchlist</h3>

        {% if not watchlist %}
            <p>No stocks are being tracked right now. Please add one</p>
        {% endif %}

        <div class = "button">

            <a href = "{{url_for('add')}}">Add a stock to track</a>

        </div>

        <div style = "overflow-x: auto;">

            <!--Table for the Watchlist-->
            <table>

                <!--Headers-->
                <tr>

                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Threshold</th>

                </tr>

                <!--Loop through every tuple and diplay it in the table-->
                {% for i in watchlist %}

                    <tr>

                        <td>{{watchlist[2]}}</td>
                        <td>{{watchlist[3]}}</td>
                        <td>{{watchlist[4]}}</td>
                        <td><a href = "{{url_for('delete', stock_id = watchlist[0])}}" onclick = "return confirm('Are you sure you want to delete this stock?')">Delete</a></td>

                    </tr>

                {% endfor %}

            </table>


            <!--Table for the Alerts-->
            <table>

                <tr>

                    <th>Symbol</th>
                    <th>Old_Price</th>
                    <th>New_Price</th>
                    <th>Difference</th>
                    <th>Message</th>
                    <th>Timestamp</th>

                </tr>


                {% for i in alerts %}

                    <tr>

                        <td>{{alerts[2]}}</td>
                        <td>{{alerts[3]}}</td>
                        <td>{{alerts[4]}}</td>
                        <td>{{alerts[5]}}</td>
                        <td>{{alerts[6]}}</td>
                        <td>{{alerts[7]}}</td>

                    </tr>

                {% endfor %}

            </table>

        </div>

        <div class = "button">

            <a href = "{{url_for('logout')}}">Logout</a>

        </div>

    </div>

</body>

</html>