<!DOCTYPE html>
<html lang = "en">

<head>

    <!--Used to have the most amount characters so everyone can view it-->
    <meta charset = "UTF-8">

    <!--Tells the web to scale it to the device it is on and on a 1:1 scale so not zoomed in or out-->
    <meta name = "viewport" content = "width= device-width, initial-scale = 1.0">

    <title>Stock Scrubber Dashboard</title>

    <!--Used to download the Inter font to that it works-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!--Connects the file to the css file that has the styles-->
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!--Used for the navigation bar at the top-->
    <nav class = "navbar">

        <div class = "navleft">

            <div class = "button">
                <a href = "{{url_for('add')}}">+Add Stock</a>
            </div>

        </div>

        <div class = "navmiddle">

            <h1>Welcome to Stock Scrubber, {{username}}!</h1>

        </div>

        <div class = "navright">

            <div class = "button">
                <a href = "{{url_for('logout')}}">Logout</a>
            </div>

        </div>

    </nav>


    <!--Seperate block-->
    <div class = "container-table-one">

        <h3>Stock Watchlist</h3>

        {% if not watchlists %}
            <p class="warning-text">No stocks are being tracked right now. Please add one.</p>
        {% endif %}

        <div style = "overflow-x: auto;">

            <!--Table for the Watchlist-->
            <table>

                <!--Headers-->
                <tr>

                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Threshold</th>
                    <th></th>

                </tr>

                <!--Loop through every tuple and diplay it in the table-->
                {% for watchlist in watchlists %}

                    <tr>

                        <td>{{watchlist[2]}}</td>
                        <td>{{watchlist[3]}}</td>
                        <td>{{watchlist[4]}}</td>
                        <td class = "delete-column"><a href = "{{url_for('delete', stock_id = watchlist[0])}}" class = "delete-link" onclick = "return confirm('Are you sure you want to delete this stock?')">Delete</a></td>

                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

    <div class = "container-table-two">

        <h3>Stock Alerts</h3>

        <div style = "overflow-x: auto;">
            <!--Table for the Alerts-->
            <table>

                <tr>

                    <th>Symbol</th>
                    <th>Old_Price</th>
                    <th>New_Price</th>
                    <th>Difference</th>
                    <th>Message</th>
                    <th>Timestamp</th>

                </tr>


                {% for alert in alerts %}

                    <tr>

                        <td>{{alert[2]}}</td>
                        <td>{{alert[3]}}</td>
                        <td>{{alert[4]}}</td>
                        <td>{{alert[5]}}</td>
                        <td>{{alert[6]}}</td>
                        <td>{{alert[7]}}</td>

                    </tr>

                {% endfor %}

            </table>

        </div>

    </div>

</body>

</html>