<!DOCTYPE html>
<html lang = "en">

<head>

    <!--Used to have the most amount characters so everyone can view it-->
    <meta charset = "UTF-8">

    <!--Tells the web to scale it to the device it is on and on a 1:1 scale so not zoomed in or out-->
    <meta name = "viewport" content = "width= device-width, initial-scale = 1.0">

    <title>Stock Scrubber Register</title>

    <!--Used to download the Inter font to that it works-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!--Connects the file to the css file that has the styles-->
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class = "container">

        <div class = "title">
            <h1>Stock Scrubber</h1>
        </div>

        <form method = "POST" action = "{{url_for('register')}}">

            <h2 style = "text-align: center;">Register</h2>

            {% if error %}
            <p style = "color: #ff6b6b;">{{ error }}</p>
            {% endif %}

            <label for = "username">Username:</label>
            <!--Where the input takes place id needs to match for, name is the key for when the form is submitted and what the input is under-->
            <input type = "text" id = "username" name = "username" required>

            <label for = "password">Password:</label>
            <input type = "password" id = "password" name = "password" required>

            <button type = "submit">Register</button>

        </form>

        <!--Link for if they already have an account-->
        <p>Already have an account? <a href = "{{url_for('login')}}">Login here</a></p>

    </div>

</body>

</html>